<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
  default-autowire="byName">
  
  <!-- 报告管理 -->
  <bean id="reportDao" class="com.mrs.reportmgr.dao.hibernate.ReportDaoImp" />
  <bean id="reportService" class="com.mrs.reportmgr.service.imp.ReportServiceImp" />
   <!-- 章节管理 -->
  <bean id="chapterDao" class="com.mrs.reportmgr.dao.hibernate.ChapterDaoImp" />
  <bean id="chapterService" class="com.mrs.reportmgr.service.imp.ChapterServiceImp" />
  <!-- 报告、章节等代码管理表 -->
  <bean id="commonCodeDao" class="com.mrs.reportmgr.dao.hibernate.CommonCodeDaoImp" />
  <bean id="commonCodeService" class="com.mrs.reportmgr.service.imp.CommonCodeServiceImp" />
  <!-- 指标管理 -->
  <bean id="reportIndexDao" class="com.mrs.reportmgr.dao.hibernate.ReportIndexDaoImp" />
  <bean id="reportIndexService" class="com.mrs.reportmgr.service.imp.ReportIndexServiceImp" />
  <!-- 素材管理 -->
	<bean id="materialDao" class="com.mrs.reportmgr.dao.hibernate.MaterialDaoImp" />
	<bean id="materialService" class="com.mrs.reportmgr.service.imp.MaterialServiceImp" />
	<!-- 扩展指标管理 -->
  <bean id="exindexDao" class="com.mrs.reportmgr.dao.hibernate.ExindexDaoImp" />
  <bean id="exindexService" class="com.mrs.reportmgr.service.imp.ExindexServiceImp" />
</beans>
